@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body, .App {
  font-family: 'PT Serif', sans-serif;
  box-sizing: border-box;
  margin: 0;
  background: #EBE7DD;
}

a {
  text-decoration: none;
}

.tooltip {
  transition: all 0.1s ease-out;
}
